/FlowerzZWinform/FlowerzZWinform/.vs/ProjectEvaluation/*.bin
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/*.BuildWithSkipAnalyzers
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/*.cache
/FlowerzZWinform/FlowerzZWinform/obj/*.cache
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/unix/lib/net6.0/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win/lib/net6.0/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win-arm/native/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win-arm64/native/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win-x64/native/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win-x86/native/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/ref/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/refint/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/TempPE/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.AssemblyInfo.cs
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.GlobalUsings.g.cs
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.GeneratedMSBuildEditorConfig.editorconfig
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/FlowerzZWinform.exe
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/apphost.exe
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/v17/DocumentLayout.json
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/FlowerzZWinform.deps.json
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/FlowerzZWinform.runtimeconfig.json
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.designer.deps.json
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.designer.runtimeconfig.json
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.sourcelink.json
/FlowerzZWinform/FlowerzZWinform/obj/FlowerzZWinform.csproj.nuget.dgspec.json
/FlowerzZWinform/FlowerzZWinform/obj/project.assets.json
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/FlowerzZWinform.pdb
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.pdb
/FlowerzZWinform/FlowerzZWinform/obj/FlowerzZWinform.csproj.nuget.g.props
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.FlowerzBackground.resources
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.FlowerzZ.resources
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.Properties.Resources.resources
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/v17/.suo
/FlowerzZWinform/FlowerzZWinform/obj/FlowerzZWinform.csproj.nuget.g.targets
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.csproj.FileListAbsolute.txt
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZ.1A9AF3EB.Up2Date
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/DesignTimeBuild/.dtbcache.v2
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/v17/.futdcache.v2
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/3b2aa671-4ecf-4e41-9187-cf4c17d5374d.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/7b53e365-1048-4c40-976f-3a8f2c47e8dd.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/7c5d9d79-4f19-4543-aa75-9ef0533c1bde.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/f1bc264e-77b2-4a80-bd3e-0367d6fe8d50.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/fcaaa7f3-7139-412a-a1f4-40e5728448c8.vsidx
/desktop.ini
