/FlowerzZWinform/FlowerzZWinform/.vs/ProjectEvaluation/*.bin
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/*.BuildWithSkipAnalyzers
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/*.cache
/FlowerzZWinform/FlowerzZWinform/obj/*.cache
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/unix/lib/net6.0/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win/lib/net6.0/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win-arm/native/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win-arm64/native/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win-x64/native/*.dll
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/runtimes/win-x86/native/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/ref/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/refint/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/TempPE/*.dll
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.AssemblyInfo.cs
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.GlobalUsings.g.cs
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.GeneratedMSBuildEditorConfig.editorconfig
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/FlowerzZWinform.exe
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/apphost.exe
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/v17/DocumentLayout.json
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/FlowerzZWinform.deps.json
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/FlowerzZWinform.runtimeconfig.json
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.designer.deps.json
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.designer.runtimeconfig.json
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.sourcelink.json
/FlowerzZWinform/FlowerzZWinform/obj/FlowerzZWinform.csproj.nuget.dgspec.json
/FlowerzZWinform/FlowerzZWinform/obj/project.assets.json
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/FlowerzZWinform.pdb
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.pdb
/FlowerzZWinform/FlowerzZWinform/obj/FlowerzZWinform.csproj.nuget.g.props
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.FlowerzBackground.resources
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.FlowerzZ.resources
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.Properties.Resources.resources
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/v17/.suo
/FlowerzZWinform/FlowerzZWinform/obj/FlowerzZWinform.csproj.nuget.g.targets
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZWinform.csproj.FileListAbsolute.txt
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows/FlowerzZ.1A9AF3EB.Up2Date
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/DesignTimeBuild/.dtbcache.v2
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/v17/.futdcache.v2
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/3b2aa671-4ecf-4e41-9187-cf4c17d5374d.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/7b53e365-1048-4c40-976f-3a8f2c47e8dd.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/7c5d9d79-4f19-4543-aa75-9ef0533c1bde.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/f1bc264e-77b2-4a80-bd3e-0367d6fe8d50.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/fcaaa7f3-7139-412a-a1f4-40e5728448c8.vsidx
/desktop.ini
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/3cfac4b1-bf56-4c4e-9841-7cb7aabb775b.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/4602d107-d5da-46c9-80d8-3a2eca6be63a.vsidx
/FlowerzZWinform/FlowerzZWinform/.vs/FlowerzZWinform/FileContentIndex/e5e58a6f-c1bc-47df-a890-c48419f76289.vsidx
/FlowerzZWinform/FlowerzZWinform/bin/Debug/net8.0-windows/Model.pdb
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows8.0/FlowerzZWinform.AssemblyInfo.cs
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows8.0/FlowerzZWinform.AssemblyInfoInputs.cache
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows8.0/FlowerzZWinform.GeneratedMSBuildEditorConfig.editorconfig
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows8.0/FlowerzZWinform.GlobalUsings.g.cs
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows8.0/FlowerzZWinform.assets.cache
/FlowerzZWinform/FlowerzZWinform/obj/Debug/net8.0-windows8.0/FlowerzZWinform.csproj.AssemblyReference.cache
/FlowerzZWinform/Model/bin/Debug/net8.0/Model.deps.json
/FlowerzZWinform/Model/bin/Debug/net8.0/Model.dll
/FlowerzZWinform/Model/bin/Debug/net8.0/Model.pdb
/FlowerzZWinform/Model/bin/Debug/net8.0/Model.runtimeconfig.json
/FlowerzZWinform/Model/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/FlowerzZWinform/Model/obj/Debug/net6.0/Model.AssemblyInfo.cs
/FlowerzZWinform/Model/obj/Debug/net6.0/Model.AssemblyInfoInputs.cache
/FlowerzZWinform/Model/obj/Debug/net6.0/Model.GeneratedMSBuildEditorConfig.editorconfig
/FlowerzZWinform/Model/obj/Debug/net6.0/Model.GlobalUsings.g.cs
/FlowerzZWinform/Model/obj/Debug/net6.0/Model.assets.cache
/FlowerzZWinform/Model/obj/Debug/net6.0/Model.csproj.AssemblyReference.cache
/FlowerzZWinform/Model/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/FlowerzZWinform/Model/obj/Debug/net7.0/Model.AssemblyInfo.cs
/FlowerzZWinform/Model/obj/Debug/net7.0/Model.AssemblyInfoInputs.cache
/FlowerzZWinform/Model/obj/Debug/net7.0/Model.GeneratedMSBuildEditorConfig.editorconfig
/FlowerzZWinform/Model/obj/Debug/net7.0/Model.GlobalUsings.g.cs
/FlowerzZWinform/Model/obj/Debug/net7.0/Model.assets.cache
/FlowerzZWinform/Model/obj/Debug/net7.0/Model.csproj.AssemblyReference.cache
/FlowerzZWinform/Model/obj/Debug/net7.0/Model.csproj.FileListAbsolute.txt
/FlowerzZWinform/Model/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.AssemblyInfo.cs
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.AssemblyInfoInputs.cache
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.GeneratedMSBuildEditorConfig.editorconfig
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.GlobalUsings.g.cs
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.assets.cache
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.csproj.AssemblyReference.cache
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.csproj.BuildWithSkipAnalyzers
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.csproj.CoreCompileInputs.cache
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.csproj.FileListAbsolute.txt
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.dll
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.genruntimeconfig.cache
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.pdb
/FlowerzZWinform/Model/obj/Debug/net8.0/Model.sourcelink.json
/FlowerzZWinform/Model/obj/Debug/net8.0/ref/Model.dll
/FlowerzZWinform/Model/obj/Debug/net8.0/refint/Model.dll
/FlowerzZWinform/Model/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
/FlowerzZWinform/Model/obj/Debug/netcoreapp3.0/Model.AssemblyInfo.cs
/FlowerzZWinform/Model/obj/Debug/netcoreapp3.0/Model.AssemblyInfoInputs.cache
/FlowerzZWinform/Model/obj/Debug/netcoreapp3.0/Model.GeneratedMSBuildEditorConfig.editorconfig
/FlowerzZWinform/Model/obj/Debug/netcoreapp3.0/Model.GlobalUsings.g.cs
/FlowerzZWinform/Model/obj/Debug/netcoreapp3.0/Model.assets.cache
/FlowerzZWinform/Model/obj/Debug/netcoreapp3.0/Model.csproj.AssemblyReference.cache
/FlowerzZWinform/Model/obj/Debug/netcoreapp3.0/Model.csproj.FileListAbsolute.txt
/FlowerzZWinform/Model/obj/Model.csproj.nuget.dgspec.json
/FlowerzZWinform/Model/obj/Model.csproj.nuget.g.props
/FlowerzZWinform/Model/obj/Model.csproj.nuget.g.targets
/FlowerzZWinform/Model/obj/project.assets.json
/FlowerzZWinform/Model/obj/project.nuget.cache
